.navbar-brand {
    padding-left: 10px;
    font-size: 30px;
}

nav {
    background-color: #0077B5;
}

ul {
    list-style: none;
}
h3 {
    padding-left: 9px;
}
.custom_list {
    padding-left: 50px;
}
.custom_row1 {
    padding-left: 50px;
}
.custom_row2 {
    padding-left: 50px;
    padding-bottom: 9px;
}
.custom_row3 {
    padding-left: 50px;
    padding-bottom: 9px;
}

.whole-container {
    padding-top: 15px;
    padding-left: 10px;
}

.bg-linkedin {
    background-color: #0077B5;
    color: #fff;
}

.bg-hottest {
    background-color: #ed4f00;
    color: #fff;
}

.container {
    margin-top: 60px;
    text-align: center;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
  
.iframe-wrapper iframe {
    position: absolute;
    top: 15px;
    left: 50px;
    bottom: 10px;
    width: 85vw;
    height: 30vh;
}