ul {
    list-style: none;
}
.custom_list {
    padding-left: 50px;
}
.custom_row1 {
    padding-left: 50px;
}
.custom_row2 {
    padding-left: 50px;
    padding-bottom: 6px;
}
.custom_row3 {
    padding-left: 50px;
    padding-bottom: 6px;
}