.navbar-brand {
    font-size: 30px;
}

ul {
    list-style: none;
}
h3 {
    padding-left: 9px;
}
.custom_list {
    padding-left: 50px;
}
.custom_row1 {
    padding-left: 50px;
}
.custom_row2 {
    padding-left: 50px;
    padding-bottom: 6px;
}
.custom_row3 {
    padding-left: 50px;
    padding-bottom: 6px;
}